<form (ngSubmit) = "addBooking()">
    
  <select name="customerId" [(ngModel)]="newBooking.customerId" required>
    <option [ngValue]="null">-- Select Customer --</option>
    <option *ngFor="let c of customers" [ngValue]="c">{{c.id}}</option>
  </select>
  
    
    <select name="flightId" [(ngModel)]="newBooking.flightId" required>
        <option [ngValue]="null">-- Select Flight --</option>
        <option *ngFor="let f of flights" [ngValue]="f">{{f.id}}</option>
    </select>
      
  
    
    <input type="date" [(ngModel)]="newBooking.bookingDate" name="bookingDate" placeholder="Booking Date">
  
    
    <input type="text" [(ngModel)]="newBooking.seatNumber" name="seatNumber" placeholder="Seat Number">
  
    
    <select [(ngModel)]="newBooking.status" name="status">
      <option value="Pending">Pending</option>
      <option value="Confirmed">Confirmed</option>
      <option value="Cancelled">Cancelled</option>
    </select>
    <button type = "submit">ADD</button>
  </form>


  <h2>Booking List</h2>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Booking Date</th>
      <th>Seat Number</th>
      <th>Status</th>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Date of Birth</th>
      <th>Loyalty Points</th>
      <th>Flight ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookingList">
      <td>{{ booking.bookingDate | date }}</td>
      <td>{{ booking.seatNumber }}</td>
      <td>{{ booking.status }}</td>
      <td>{{ booking.customerId.id }}</td>
      <td>{{ booking.customerId.firstName }}</td>
      <td>{{ booking.customerId.lastName }}</td>
      <td>{{ booking.customerId.email }}</td>
      <td>{{ booking.customerId.phone }}</td>
      <td>{{ booking.customerId.dateOfBirth | date }}</td>
      <td>{{ booking.customerId.loyaltyPoints }}</td>
      <td>{{ booking.flightId }}</td> <!-- Just the flight ID -->
    </tr>
  </tbody>
</table>

  